body {
    background: darkblue;
    color: white;
}
header,
footer {
    background-color: rgba(0, 139, 139, 0.692);
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0vh;
}
.container,
.container-fluid {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
header nav {
    padding: 15px;
}
header nav ul {
    display: flex;

    justify-content: space-around;
}
#clientList {
    text-align: center;
}
li {
    list-style: none;
}
.card {
    background-color: darkgrey;
}
.card-body {
    padding: 0px;
}
.card-title {
    box-shadow: 0px -10px 20px black inset;
    text-align: center;
}
.card-title,
.card-text {
    padding: 15px;
}
a {
    transition: all ease-in-out 0.2s;
    color: unset;
}
a:hover {
    color: rgb(228, 143, 143);
}
